
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/sky.jpg");
    font-family: "Aquire";
  }
  
  section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section:before {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  
    z-index: 100000;
  }
  
  section:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    z-index: 100000;
  }
  
  section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  


  

.contain {
 transform: perspective(1000px);
  transform-style: preserve-3d;
 padding:2;
  margin: 1%;
  float: right;
  flex-wrap: wrap;

}
.contain .card {
  
  display: table;
  clear: both;
  position: relative;
  width: 600px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 4%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.contain .card .content {
  display: table;
  clear: both;
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}
.contain .card:hover .content {
  transform: translateZ(20px);   
  transform: translateY(30px);
  opacity: 1;
}

.contain .card .content h2 {
  border-bottom:solid 2px rgba(255, 255, 255, 0.514);
  transform: translateZ(20px);  
  position: absolute;
  top: -80px;
  
  font-size: 2em;
  color: rgba(255, 255, 255, 0.514);
  pointer-events: none;
}
.contain .card .content h3 {
  transform: translateZ(20px);
  position: absolute;
  top: -40px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.514);
  pointer-events: none;
}

.contain .card .content p {
  top:100px;  
  transform: translateZ(20px);
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.contain .card .content a {
  transform: translateZ(20px);  
  display: grid;
  padding: 5px 5px;
  margin-top: 15px;
  background: rgb(155, 155, 155);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


:root {
  --primary-color: rgba(13, 110, 139, 0.014);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}



.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}


.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}


.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}


.menu-wrap .hamburger > div::after {
  top: 10px;
}


.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}


.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}


.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}


.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}